/*
 * -------------------------------------------------
 *  NF config file
 * -------------------------------------------------
 * Default config options
 *
 */

// Input and output parameters
params {

    bams = "/path/to/bams/*.bam"
    outdir = "/path/to/outdir"
    help = ''
    ref = "/proj/snic2020-16-126/Bop/map/REF/lycPyr7.4.fa"
    min_depth = 4
    chr = "/crex/proj/snic2020-16-126/Bop/variantcalls/auto_ref_list.txt"
}


profiles {

    standard {

        process.executor = 'local'
    }

    rackham {

        includeConfig 'profile/rackham.config'
    }
}

