/*
 * -------------------------------------------------
 *  NF config file
 * -------------------------------------------------
 * Default config options
 *
 */

// Input and output parameters
params {

    bams = "/PATH/TO/bams/*.bam"
    outdir = "/PATH/TO//outdir"
    help = ''
    ref = "/PATH/TO/INDEXED/REFERENCE.fa"
    chr = "/PATH/TO/CHROMOSOME.list"
}


profiles {

    standard {

        process.executor = 'local'
    }

    rackham {

        includeConfig 'profile/rackham.config'
    }
}

